# Ignore node_modules directory
node_modules/

# Ignore logs
logs/
*.log


# Ignore dotenv files
.env


# Ignore build artifacts
build/
dist/
out/
*.map

# Ignore dependency lock files
yarn.lock
package-lock.json

# Ignore editor files
.vscode/
.idea/

# Ignore test coverage reports
coverage/

# Ignore environment-specific files
.env.local
.env.test
.env.development
.env.production
config.env

# Ignore temporary files
*.swp
*.swo
